<div class="temp"><ul class="">
  <h2 class=""><%= params.postTotal || 0 %> Posts</h2>
  <% let currDate; %> 
  
  <% params.posts.forEach(function(post) { %>
    <% if (currDate !== date(post.date, 'YYYY')) { %>
      <% currDate = date(post.date, 'YYYY') %> 
      <h3><%= currDate %></h3>
    <% } %>
    <li class="">
      <div class="">
        <a href="<%= url_for(post.path) %>" >
          <%= post.title %>
        </a>
      </div>
      <div class=""><%= date(post.date, 'MM/DD') %>  
    </li>
  <% })%> 
</ul></div>
