<%
   var title = '';
   var posts = site.posts;
   if (page.category) {
      title = page.category;
      posts = page.posts;
   }
   if (page.tag) {
      title = page.tag;
      posts = page.posts;
   }
   if (page.archive) {
      if (page.year) title = page.year + (page.month ? '/' + page.month : '');
      else {
         title = __('archive_a');
         posts = site.posts;
		 
      }
   }
   var archiveData = {
      years: {},
      months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
   };
   
   posts.sort('date', 1).each(function(item) {
      var year = item.date.toDate().getFullYear();
      var month = item.date.toDate().getMonth();
      
      if (!archiveData.years[year]) {
         archiveData.years[year] = {};
      }
      if (!archiveData.years[year][month]) {
         archiveData.years[year][month] = [];
      }
      archiveData.years[year][month].push(item);
   });
   site.pages.sort('date', 1).each(function(item) {
	var year = item.date.toDate().getFullYear();
	var month = item.date.toDate().getMonth();
	
	if (!archiveData.years[year]) {
	   archiveData.years[year] = {};
	}
	if (!archiveData.years[year][month]) {
	   archiveData.years[year][month] = [];
	}
	archiveData.years[year][month].push(item);
	
 });
%>

<!-- title -->
<div class="page-header <% if (theme.inverse){ %>page-header-inverse<% } %>">
  <h1 class="archive-title<% if (page.tag){ %>-tag<% } else if (page.category){ %>-category<% } %> title <% if (theme.inverse){ %>title-inverse<% } %>"><%= title %></h1>
</div>

<div class="row page">
  <div class="<% if (theme.widgets.length) { %>col-md-9<% } else { %>col-md-12<% } %>">

    <div id="top_search"></div>

    <% if (page.category || page.tag) { %>
      <div class="mypage">
        <% page.posts.each(function(item){ %>
          <%- partial('post/title', {item: item, index: true}) %>
          <%- partial('post/entry', {item: item, index: true}) %>
        <% }); %>
      </div>
      <div>
        <center>
          <%- partial('index_pagination') %>
        </center>
      </div>
    <% } else { %>
		<article>
      <div class="archive">
        <% Object.keys(archiveData.years).forEach(function(year) { %>
          <h4 class="archive-ul" data-toggle="collapse" data-target="#year_<%= year %>"><%= year %> <b class="caret"></b></h4>
          <div id="year_<%= year %>">
            <% Object.keys(archiveData.years[year]).forEach(function(month) { %>
              <h5 class="archive-ul" data-toggle="collapse" data-target="#month_<%= year %>_<%= month %>"><%= archiveData.months[month] %> <b class="caret"></b></h5>
              <div id="month_<%= year %>_<%= month %>">
                <ol class="collapse in">
                  <% archiveData.years[year][month].forEach(function(item) { %>
                    <li class="listing-item">
                      <span class="date_class"><%= item.date.format("YYYY-MM-DD") %></span> &raquo;
                      <% if (item.link) { %>
                        <span class="title link"><a href="<%- item.link %>" target="_blank" <% if (item.description) { %>title="<%= item.description %>"<% } %>><%= item.title || item.link %></a></span>
                      <% } else { %>
                        <span class="title"><a href="<%- url_for(item.path) %>" <% if (item.description) { %>title="<%= item.description %>"<% } %>><%= item.title %></a></span>
                      <% } %>
                    </li>
                  <% }); %>
                </ol>
              </div>
            <% }); %>
          </div>
        <% }); %>
      </div>
	</article>
    <% } %>
  </div>
</div>
