<%- partial('post/title', {item: item, index: false}) %>

<% if (item.shadow ) { %>
   <style type="text/css">
           img, video {
                -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
                -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
                box-shadow:0 0 10px rgba(0, 0, 0, .5);  
           }
   </style>
<% } %>


<div class="row <% if (post) { %>post<% } else { %>page<% } %>">
	<!-- cols -->
	<% if (post) { %>
	<div id="top_meta"></div>
	<div class="col-md-9">
	<% } else { %>
	<div class="col-md-12">
	<% } %>

	<!-- content -->
	<div class="mypage">		
	  <% if (item.description) { %>
		 <div class="alert alert-success description">
			<i class="fa fa-info-circle"></i> <%- markdown(item.description) %>			
		 </div> <!-- alert -->
	  <% } %>		
      <ul>
        <% site.posts.sort('date', -1).forEach(function(it){ %>
          <% if (it.concern_group && it.concern_group==item.group){ %>
            <li class="listing-item">
              <a href="<%= url_for(it.path) %>" <% if (it.description) { %> title="<%= it.description %>" <% } %>><%= it.title %></a>
            </li>
          <% } %>
        <% }); %>
      </ul>
      <p>Le responsable du Groupe <%=page.group%> est <strong><a href="" class="spip_in">Mickaël Poussier</a></strong></p>

      <p>Pour faciliter la gestion du classement, les résultats sont à communiquer au responsable de groupe dès la fin des matchs [*par les deux équipes*]</p>
  
      <p>Pour + d'info consulter l'article suivant&nbsp;: <a href="" class="spip_in">Calcul des points du championnat</a></p>
      <%- item.content %>	
      
     

      
	</div>

	<!-- recommended posts -->
	<% if (post && theme.recommended_posts.enabled) { %>
		<%- partial('post/recommended_posts', {page: item, site: site}) %>
	<% } %>

	<div>
  	<center>
	<%- partial('post/pagination', {page: item}) %>
    </center>
	</div>

    <!-- share -->
    <% if (post) { %>
        <%- partial('post/bdshare', {page: item}) %>
        <%- partial('post/jiathis', {page: item}) %>
    <% } %>
	
	<!-- comment -->
	
	</div> <!-- col-md-9/col-md-12 -->
		
	<% if (post) { %>
	<div id="side_meta">
    <%- partial('_partial/sidebar') %>
	</div>
	<% } %>	

</div><!-- row -->
	