<p><% if (config.author){ %>
  &copy; 2003-<%= new Date().getFullYear()+1 %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
      pour vbcq.   		<a type="button" href="<%- url_for('/mention-legale') %>" class="btn btn-default more">mention légale</a> 
</p>