<%

 
  var category = site.categories.find({name: page.category}).filter(category => category.length).data[0]
%>




<article>
<div class="row post">
	<!-- cols -->
	<% if (false) { %>
	<div id="top_meta"></div>
	<div class="col-md-9">
	<% } else { %>
	<div class="col-md-12">
	<% } %>

	<!-- content -->
	<div class="mypage">		
	

    <ul class="">
      <h2 class=""><%= category.posts.length || 0 %> Posts</h2>
      <% let currDate; %> 
      
      <% category.posts.forEach(function(post) { %>
        <% if (currDate !== date(post.date, 'YYYY')) { %>
          <% currDate = date(post.date, 'YYYY') %> 
          <h3><%= currDate %></h3>
        <% } %>
        <li class="">
          <div class="">
            <a href="<%= url_for(post.path) %>" >
              <%= post.title %>
            </a>
          </div>
          <div class=""><%= date(post.date, 'MM/DD') %>  
        </li>
      <% })%> 
    </ul>
</div>

 

<!-- recommended posts -->
<% if (false && theme.recommended_posts.enabled) { %>
  <%- partial('_partial/post/recommended_posts', {page: page, site: site}) %>
<% } %>

<div>
  <center>
<%- partial('_partial/post/pagination', {page: page}) %>
  </center>
</div>

 

<!-- comment -->

</div> <!-- col-md-9/col-md-12 -->


<div id="side_meta">
  <%- partial('_partial/sidebar', {item: page}) %>
</div>
</div><!-- row -->

</div>
</article>