<!-- title -->


<div class="row page">

  <div class="title">
    <h1>Championnat Groupe <%=page.group%>
    </h1>
  </div>

  <div class="logo droite">
    <img src="local/cache-vignettes/L100xH50/rubon58-06d6b.png?1732290159" class="spip_logo" width="100" height="50"
      alt="" />
  </div>


  Le responsable du Groupe <%=page.group%> est
    <strong><a href="" class="spip_in">Mickaël Poussier</a></strong>

    Pour faciliter la gestion du classement, les résultats sont à
    communiquer au responsable de groupe dès la fin des matchs [*par
    les deux équipes*]

    Pour + d’info consulter l’article suivant&nbsp;:
    <a href="" class="spip_in">Calcul des points du championnat</a>
    <div class="mypage">
      <ul>
        <% site.posts.sort('date', -1).forEach(function(it){ %>
          <% if (it.concern_group && it.concern_group==page.group){ %>
            <li class="listing-item"><a href="<%= url_for(it.path) %>" <% if (it.description) { %> title="<%=
                  it.description %>" <% } %>><%= it.title %></a>
              <%- partial('_partial/post/entry', {item: it, index: false,button:false}) %>
            </li>
            <% } %>
              <% }); %>
      </ul>
    </div>

    <table>
      <tr>
        <td>team1</td>
        <td>team2</td>
        <td>homeDate</td>
        <td>awayDate</td>
        <td>homeLocation</td>
        <td>awayLocation</td>
      </tr>
      <%site.data.db.models.match.forEach(function(it){%>
        <tr>
          <th>
            <%= it.team1 %>
          </th>
          <th>
            <%= it.team2 %>
          </th>
          <th>
            <%= it.homeDate %>
          </th>
          <th>
            <%= it.awayDate %>
          </th>
          <th>
            <%= it.homeLocation %>
          </th>
          <th>
            <%= it.awayLocation %>
          </th>
        </tr>
    </table>

    <% }); %>


      <!-- Fin rubrique -->





</div>
<!-- row-fluid -->