<!DOCTYPE HTML>
<html>

<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/navigation') %>
  <div class="container">
    <div class="content">
   
        <%- body %>
      
      
    </div>
  </div>
  <div class="container-narrow">
  

    <footer> <%- partial('_partial/footer') %> </footer>
  </div> <!-- container-narrow -->
  <script>tarteaucitron.user.tawktoWidgetId = '1isno75tu';</script>
  <%- partial('_partial/after_footer') %>
</body>
</html>